<div class='flex flex-col items-center justify-center gap-2.5 self-stretch px-5 py-10'>
  <div
    class='flex flex-col items-center gap-8 self-stretch rounded-[10px] bg-mirage-900 px-7 py-10'
  >
    <div class='flex flex-col items-center gap-4 self-stretch'>
      <h2>Get early access today</h2>
      <p class='text-center text-sm leading-normal'>
        It only takes a minute to sign up and our free starter tier is extremely generous. If you
        have any questions, our support team would be happy to help you.
      </p>
    </div>
    <div class='flex flex-col items-start gap-6 self-stretch'>
      <input
        class='flex items-center justify-between self-stretch rounded-3xl bg-white px-7 py-3.5 text-[10px] text-silver-400'
        type='email'
        placeholder='email@example.com'
      />
      <button
        class='linear-primary flex items-center justify-center self-stretch rounded-3xl py-4 font-raleway text-sm font-bold'
        >Get Started For Free</button
      >
    </div>
  </div>
</div>
