---
const items = [
  {
    icon: '/icon-access-anywhere.svg',
    alt: 'Icon Access Anywhere',
    title: 'Access your files, anywhere',
    description:
      'The ability to use a smartphone, tablet, or computer to access your account means your files follow you everywhere.'
  },
  {
    icon: '/icon-security.svg',
    alt: 'Icon Security',
    title: 'Security you can trust',
    description:
      '2-factor authentication and user-controlled encryption are just a couple of the security features we allow to help secure your files.'
  },
  {
    icon: '/icon-collaboration.svg',
    alt: 'Icon Collaboration',
    title: 'Real-time collaboration',
    description:
      'Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.'
  },
  {
    icon: '/icon-any-file.svg',
    alt: 'Icon Any File',
    title: 'Store any type of file',
    description:
      'Whether you are sharing holidays photos or work documents, Fylo has you covered allowing for all file types to be securely stored and shared.'
  }
];
---

<div id='features'>
  {
    items.map((item) => (
      <div>
        <img src={item.icon} alt={`Icon ${item.alt}`} />
        <div>
          <h2>{item.title}</h2>
          <p>{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
