<header class='flex items-center justify-between self-stretch p-6'>
  <img src='/logo.svg' alt='Logo' class='w-20' />
  <nav class='flex items-center justify-end gap-6 font-raleway text-xs leading-[normal]'>
    <a href='#features'>Features</a>
    <a href='#team'>Team</a>
    <a href='#signIn'>Sign In</a>
  </nav>
</header>
