<header class='flex items-center justify-between self-stretch p-6 2xl:px-0 2xl:py-[72px]'>
  <img src='/logo.svg' alt='Logo' class='w-20 2xl:w-[176px]' />
  <nav
    class='flex items-center justify-end gap-6 font-raleway text-xs leading-[normal] 2xl:gap-14 2xl:text-base'
  >
    <a href='#features'>Features</a>
    <a href='#team'>Team</a>
    <a href='#signIn'>Sign In</a>
  </nav>
</header>
