<div class='flex flex-col items-center gap-9 self-stretch px-7 pb-2.5 2xl:gap-8'>
  <img src='/illustration-intro.png' alt='Files in one location' class='w-[304px] 2xl:w-[720px]' />
  <div class='flex flex-col content-center items-center gap-8 self-stretch 2xl:px-[272px] 2xl:pb-6'>
    <div class='flex flex-col items-center gap-4 self-stretch 2xl:gap-8'>
      <h1>All your files in one secure location, accessible anywhere.</h1>
      <p
        class='flex-1 px-3 text-center text-sm leading-normal 2xl:px-[72px] 2xl:text-xl 2xl:leading-normal'
      >
        Fylo stores all your most important files in one secure location. Access them wherever you
        need, share and collaborate with friends family, and co-workers.
      </p>
    </div>
    <button
      class='linear-primary flex items-center rounded-full px-20 py-4 font-raleway text-sm font-bold leading-[normal] 2xl:px-24 2xl:py-5 2xl:text-base'
    >
      Get Started
    </button>
  </div>
</div>
