<div>
  <img src='/illustration-intro.png' alt='Files in one location' />
  <div>
    <div>
      <h1>All your files in one secure location, accessible anywhere.</h1>
      <p>
        Fylo stores all your most important files in one secure location. Access them wherever you
        need, share and collaborate with friends family, and co-workers.
      </p>
    </div>
    <button>Get Started</button>
  </div>
</div>
