<div class='flex flex-col items-center justify-center gap-12 self-stretch px-7 py-[50px]'>
  <img
    src='/illustration-stay-productive.png'
    alt='Stay productive'
    loading='lazy'
    class='w-[304px]'
  />
  <div class='flex flex-col items-start gap-4 self-stretch'>
    <h2>Stay productive, wherever you are</h2>
    <p class='text-sm leading-normal'>
      Never let location be an issue when accessing your files. Fylo has you covered for all of your
      file storage needs.
    </p>
    <p class='text-sm leading-normal'>
      Securely share files and folders with friends, family and colleagues for live collaboration.
      No email attachments required.
    </p>
    <a
      href='#'
      class='group flex items-center gap-1.5 border-b border-turquoise-300 pb-1 text-turquoise-300 transition-all hover:border-white hover:text-white'
    >
      See how Fylo works
      <img
        src='/icon-arrow.svg'
        alt='Icon Arrow Right'
        loading='lazy'
        class='group-hover:[filter:grayscale(1)_contrast(2)]'
      />
    </a>
  </div>
</div>
