---
import EarlyAccess from './EarlyAccess.astro';
import Features from './Features.astro';
import Footer from './Footer.astro';
import Header from './Header.astro';
import Hero from './Hero.astro';
import How from './How.astro';
import Testimonies from './Testimonies.astro';
---

<div class='flex flex-col gap-6 pb-8'>
  <Header />
  <main class='flex flex-col gap-6'>
    <Hero />
    <Features />
    <How />
    <Testimonies />
    <EarlyAccess />
  </main>
  <Footer />
</div>
